*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body h1{
    text-align: center;
}
.home {
    display: grid;
    grid-template-columns: 1fr 6fr ;
    grid-template-areas: 
    "sidebar daftar"
    ;
}

.sidebar {
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    align-items: center;
}

.sidebar ul li{
    list-style: none;
}

.daftar {
    grid-area: daftar;
    align-self: flex-start;
    border: 2px solid black;
}

table {
    align-items: center;
}

.dropdown-toggle{
    cursor: pointer;
}

.dropdown-toggle li{
    display: none;
    position: absolute;
}

.dropdown-toggle:hover .dropdown-item{
    display: block;
}