<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Tambah Karyawan</title>
</head>
<body>
    <h2>Form Tambah Karyawan</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="label">
            <label for="{{ form.id.id_for_label }}">Nomer Karyawan</label>
           <div class="input">
               {{ form.id }}
           </div>
        </div>
        <div class="label">
            <label for="{{ form.nama.id_for_label }}">Nama</label>
            <div class="ipnut">
                {{ form.nama }}
            </div>
        </div>
        <div class="mb-3">
            <label for="{{ form.jabatan.id_for_label }}">Jabatan</label>
            <div class="ipnut">
                {{ form.jabatan }}
            </div>
        </div>
        <div class="mb-3">
            <label for="{{ form.lokasi.id_for_label }}">Lokasi</label>
            <div class="ipnut">
                {{ form.lokasi }}
            </div>
        </div>
        <div class="mb-3">
            <label for="{{ form.nik.id_for_label }}">NIK</label>
            <div class="ipnut">
                {{ form.nik }}
            </div>
        </div>
        <div class="mb-3">
            <label for="{{ form.pendidikan.id_for_label }}">Pendidikan Terakhir</label>
            <div class="ipnut">
                {{ form.pendidikan }}
            </div>
        </div>
        <div class="mb-3">
            <label for="{{ form.tempat_lahir.id_for_label }}">Tempat Lahir</label>
            <div class="ipnut">
                {{ form.tempat_lahir }}
            </div>
        </div>
        <div class="mb-3">
            <label for="{{ form.kelamin.id_for_label }}"> Jenis Kelamin</label>
            <div class="ipnut">
                {{ form.kelamin }}
            </div>
        </div>
        <div class="mb-3">
            <label for="{{ form.status.id_for_label }}">Status</label>
            <div class="ipnut">
                {{ form.status }}
            </div>
        </div>
        <div class="mb-3">
            <label for="{{ form.nomor_kk.id_for_label }}">Nomer Kartu Keluarga</label>
            <div class="ipnut">
                {{ form.nomor_kk }}
            </div>
        </div>
        <div class="mb-3">
            <label for="{{ form.alamat_ktp.id_for_label }}">Alamat Sesuai KTP</label>
            <div class="ipnut">
                {{ form.alamat_ktp }}
            </div>
        </div>
        <div class="mb-3">
            <label for="{{ form.alamat_tinggal.id_for_label }}">Alamat Sesuai Tempat Tinggal/Domisili</label>
            <div class="ipnut">
                {{ form.alamat_tinggal }}
            </div>
        </div>
        <div class="mb-3">
            <label for="{{ form.ibu.id_for_label }}">Nama Ibu Kandung</label>
            <div class="ipnut">
                {{ form.ibu }}
            </div>
        </div>
        <div class="mb-3">
            <label for="{{ form.nohp.id_for_label }}">No. Handphone</label>
            <div class="ipnut">
                {{ form.nohp }}
            </div>
        </div>
        <div class="mb-3">
            <label for="{{ form.email.id_for_label }}">Email</label>
            <div class="ipnut">
                {{ form.email }}
            </div>
        </div>
        <button type="submit">Simpan</button>
    </form>
</body>
</html>